<div class="d-flex flex-column">
  <h1 matDialogTitle>MAS API Setting</h1>

  <mat-dialog-content>
<div class="p-2"><mat-form-field>
  <input matInput type="password" placeholder="API Key" [(ngModel)]="value"/>
  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field><mat-form-field>
  <input matInput [matDatepicker]="startDate" placeholder="Start Date">
  <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
  <mat-datepicker #startDate></mat-datepicker>
</mat-form-field></div>
<div class="p-2"></div>
<div class="p-2"></div>
<div class="p-2"></div>
<div class="p-2"></div>


    <mat-form-field>
      <input matInput [matDatepicker]="endDate" placeholder="End Date">
      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Schedule Expression" type="text">
    </mat-form-field>

    <mat-label>Status</mat-label>
    <mat-radio-group>
      <mat-radio-button value="1">Option 1</mat-radio-button>
      <mat-radio-button value="2">Option 2</mat-radio-button>
    </mat-radio-group>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button matDialogClose>Close</button>
    <button mat-button>Update</button>

  </mat-dialog-actions>
</div>
